@{
    //Layout = "~/Views/Shared/_StakeholderLayout.cshtml";
}


<style>
    .search-input-text {
        width: 100%;
    }
    #ThreadListing tr td:nth-child(1) {
        word-break: break-all;
        width: 530px !important;
    }
    #ThreadListing tr th:nth-child(1) {
        word-break: break-all;
        width: 530px !important;
    }

    #ThreadListing tr td:nth-child(3) {
        word-break: break-all;
        width: 50px !important;
    }
    #ThreadListing tr th:nth-child(3) {
        word-break: break-all;
        width: 50px !important;
    }

    #ThreadListing tr td:nth-child(1) {word-break: break-all;}
    .text {
        border: 1px solid #CCC;
        resize: none;
        height: 50px;
    }
</style>
<div id="TagEdit" class=" modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">


            <div class="box box-primary" style="box-shadow:none;">
                <div class="box-header-blue with-border btn-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <input id="CallerNo" type="hidden" name="country" value=@ViewBag.CallerNo>
                    <h4 class="box-title">Message Thread [@ViewBag.CallerNo]</h4>

                </div>
                @*<div class="row" style="padding:20px;">
                        <div class="col-md-6 col-xs-6" data-placement="left" data-animation="true" data-toggle="tooltip" title="Your export of data depends upon your selection of filters">
                            <button id="ExcelExportBtn" class="btn btn-success" type="button"><i class="fa fa-file-excel-o"></i>&nbsp;Export</button>
                        </div>
                    </div>*@

                <div class="box-body-white">

                    <table id="ThreadListing" width="100%" class="table table-condensed table-hover table-bordered table-striped  responsive" role="grid" aria-describedby="agentListing">
                        <thead>
                            <tr role="row" class="tableHeader">
                                @*<th>ID</th>*@
                                @*<th>Campaign ID</th>*@
                                @*<th>Caller No</th>*@
                                <th>Message</th>
                                <th>DateTime</th>
                                @*<th>Is Reply</th>*@
                                @*<th>Duration</th>
            <th>Caller Name</th>
            <th>Department</th>
            <th>PPMRP Service</th>
            <th>Recording ID</th>*@
                                <th>Reply</th>
                                @*<th>Register</th>*@


                                @*<th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Complaint Number: activate to sort column descending" style="width: 180px;">Complaint Number</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Complainant's Name: activate to sort column ascending" style="width: 191px;">Complainant's Name</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Father/Husband Name: activate to sort column ascending" style="width: 213px;">Father/Husband Name</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Gender: activate to sort column ascending" style="width: 77px;">Gender</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CNIC Number: activate to sort column ascending" style="width: 138px;">CNIC Number</th>
            <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Cell Number : activate to sort column ascending" style="width: 135px;">Cell Number </th>
            <th style="text-align: center; width: 78px;" class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Actions: activate to sort column ascending">Actions</th>*@
                            </tr>
                        </thead>

                        <tbody></tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">

    var dtData;

    var colorArr = ['#ffffff', '#ffe6e6'];
    var colorIndex = 0;

    $(document).ready(function () {
        LoadTaggingTable();
    });



    function LoadTaggingTable() {
        var table = $('#ThreadListing').dataTable({
            "dom": '<"top"<"col-md-6"l><"col-md-6"f><"col-md-6"i><"col-md-6"p>>',
            fnInitComplete: function (oSettings, json) {
                //counter = 1;
                //dtData = oSettings.aoData;
                
            },
            "ordering": false,
            "responsive": false,
            "bDestroy": true,
            "ajax": "@Url.Action("GetMessageThreadList", "Message")?" + "phoneNo=" + encodeURIComponent($("#CallerNo").val()),
            "contentType": "application/json",
            "type": "GET",
            "columns": [
                //{ "data": "Id" },
                //{ "data": "Caller_No" },
                { "data": "Msg_Text" },
                { "data": "Created_DateTime" },
                //{ "data": "Is_Incoming_Message" }
                //,
                //{ "data": "Duration" },
                //{ "data": "Caller_Name" },
                //{ "data": "DepartmentCategoryName" },
                //{ "data": "DepartmentSubCategoryName" },
                //{ "data": "Recording_ID" }

            ],
            "order": [],
            "columnDefs": [ {
                "targets"  : 'no-sort',
                "orderable": false,
            }],
            "fnRowCallback": function (nRow, aData, iDisplayIndex, iDisplayIndexFull) {
                if (aData['Is_Incoming_Message'] == 'True') {
                    //empId = aData['employeeId'];
                    colorIndex = 1;
                } else {
                    colorIndex = 0;
                }
                //$(nRow).css('color', 'white');
                $('td', nRow).css('background-color', colorArr[colorIndex]);
                //$('td', nRow).css('background-color', colorArr[colorIndex]);
            },
            aoColumnDefs: [{
                "aTargets": [2],
                "bSearchable": false,
                "bSortable": false,
                "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                    $(nTd).css('text-align', 'center');
                },
                "mData": null,
                "mRender": function (data, type, full) {
                    debugger;
                    if (full.Is_Incoming_Message == 'True') {
                        //var asd = full.Is_Incoming_Message ;
                        return '<td style="text-align:center">' +
                            // '<a href="user-registration.html" ><span class="fa fa-pencil"></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;' +
                            '<a data-original-title="View details" data-toggle="tooltip" href="javascript:void(0);" " id="' + full.Id + '" onclick="OpenReplyPopupDiv(this.id);"><span class="fa fa-reply"></span></a>' +
                            '</td>';
                    } else {
                        return '<td style="text-align:center">' +
                            '</td>';
                    }
                }
            }
            ],


        });

    }


    function pad(d) {
        return (d < 10) ? '0' + d.toString() : d.toString();
    }

    function dtCallBack() {

    }

    function OpenReplyPopupDiv(id) {

        $('#PopupDiv2').load("../Message/GetMessageReplyPopup?recordId=" + id);
        $('#PopupDiv2').modal();
    }

</script>
